<header class="site-header">
  <div class="container">
    <nav class="nav nav--stack">
      <a class="nav__brand" href="index.html">Hopkinton Fire Department</a>
      <ul class="nav__links">
        <li><a href="index.html">Home</a></li>
        <li><a href="apparatus.html">Apparatus</a></li>
        <li><a href="maps.html">Maps</a></li>
        <li><a href="run-cards.html">Run Cards</a></li>
        <li><a href="erg.html">ERG</a></li>
        <li><a href="ems.html">EMS</a></li>
        <li><a href="administrative.html">Administrative</a></li>
        <li><a href="crr.html">CRR</a></li>
        <li><a href="contract.html">Contract</a></li>
      </ul>
    </nav>
  </div>
</header>